<!DOCTYPE html>
<html>
<head>
<title>团队活动系统-活动</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
	   
		<div class="grid-btn">
		    <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.tdhdActivity.title" @keyup.enter="query" placeholder="标题">
            </div>
             <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.tdhdActivity.username" @keyup.enter="query" placeholder="发布人">
            </div>
            
              <div class="form-group col-sm-3">
                <select class="form-control" v-model="q.tdhdActivity.status">
                  <option value="">----活动状态----</option>
                  <option value="1">进行中</option>
                  <option value="2">已结束</option>
                </select>
                </div>
                
              <div class="form-group col-sm-3">
                <select class="form-control" v-model="q.tdhdActivity.checkstatus">

                  <option value="">----审核状态----</option>
               <option value="-1">不通过</option>
                  <option value="1">通过</option>
                  <option value="0">待审核</option>
                </select>
                </div>
              
                <div class="form-group col-sm-3">
                    <div class="input-group date form_datetime" data-date-format="yyyy MM dd - HH:ii" data-link-field="dtp_input1">
                        <input class="form-control" id="dtp_input1"  size="25" type="text" value="" readonly placeholder="创建时间开始">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group date form_datetime2" data-date-format="yyyy MM dd - HH:ii" data-link-field="dtp_input2" >
                        <input class="form-control" size="25" id="dtp_input2" type="text" value="" readonly placeholder="创建时间截止" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                
                <script type="text/javascript">
                   $(function(){
                       $('.form_datetime').datetimepicker({
                            language:  'zh-CN',
                            weekStart: 1,
                            todayBtn:  1,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView:2,
                            maxView:2,
                            forceParse: 0,
                            showMeridian: 1,
                            linkFormat: "yyyy-mm-dd"
                        });
                       $('.form_datetime2').datetimepicker({
                            language:  'zh-CN',
                            weekStart: 1,
                            todayBtn:  1,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView:2,
                            maxView:2,
                            forceParse: 0,
                            showMeridian: 1,
                            linkFormat: "yyyy-mm-dd"
                        });
                   });
                </script>
                <a class="btn btn-default" @click="query">查询</a>
			#if($shiro.hasPermission("tdhdactivity:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("tdhdactivity:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("tdhdactivity:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">活动标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aTitle" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">活动地点</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aPlace" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">联系电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aContactMobile" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">活动时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aTime" placeholder=""/>
			    </div>
			</div>
			<div class="form-group">
                    <div class="col-sm-2 control-label">缩略图</div>
                    <div class="col-sm-2">
                      <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传图片</a>
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" v-model="tdhdActivity.aImg" placeholder="图片地址"/>
                    </div>
                    <div class="col-sm-3">
                      <img alt="" :src="tdhdActivity.aImg" style="width:100px;height:100px"/>
                    </div>
                </div>
								
			<div class="form-group">
			   	<div class="col-sm-2 control-label">已预约人数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aSignCount" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">总预约人数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aTotal" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预约状态</div>
			   	 <div class="col-sm-10">
                                      进行中 : &nbsp;&nbsp;<input type="radio" name="valid" value="1" v-model="tdhdActivity.aStatus" placeholder="是否有效   1:有效，0 无效"/>
                                   &nbsp;&nbsp; &nbsp;&nbsp; 
                                   已结束 : &nbsp;&nbsp;    <input type="radio"  name="valid" value="2" v-model="tdhdActivity.aStatus" placeholder="是否有效   1:有效，0 无效"/>
                </div>
			   	
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">活动内容</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aContent" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">主办方</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aSponsor" placeholder=""/>
			    </div>
			</div>
									
			<div v-if="tdhdActivity.aIsChecked != null" class="form-group">
			   	<div class="col-sm-2 control-label">审核状态</div>
			   	<div class="col-sm-10">
			      <input readOnly="true" v-if="tdhdActivity.aIsChecked==-1" type="text" class="form-control" value="不通过" placeholder=""/>
			      <input readOnly="true" v-if="tdhdActivity.aIsChecked==0" type="text" class="form-control" value="待审核" placeholder=""/>
			      <input readOnly="true" v-if="tdhdActivity.aIsChecked==1" type="text" class="form-control" value="通过" placeholder=""/>
			    </div>
			</div>
									
			<div v-if="tdhdActivity.failurereason != null && tdhdActivity.failurereason != ''" class="form-group">
			   	<div class="col-sm-2 control-label">失败原因</div>
			   	<div class="col-sm-10">
			      <input readOnly="true" class="form-control" v-model="tdhdActivity.failurereason" placeholder=""/>
			      
			    </div>
			</div>
			
								
			<div class="form-group">
                <div class="col-sm-2 control-label">活动轮播展示图</div>
                <div class="col-sm-2" v-for="img in tdhdActivity.imgEntityList">
                    <img alt="" :src="img" style="width:100px;height:100px"/>
                  <input type="text" class="form-control"  v-model="img" placeholder="图片"/>
                </div>
                <div class="col-sm-2" >
                    <a class="btn btn-primary" id="uploadPic"><i class="fa fa-plus"></i>&nbsp;上传图片</a>
                    <a class="btn btn-primary" @click="delPic"><i class="fa fa-plus"></i>&nbsp;删除图片</a>
                </div>
            </div>
								
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发布人姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aRealname" placeholder="发布人姓名"/>
			    </div>
			</div>
									
			<div class="form-group">
			   	<div class="col-sm-2 control-label">民族</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tdhdActivity.aNation" placeholder="民族"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				#if($shiro.hasPermission("tdhdactivity:check"))
				<input v-if="tdhdActivity.aIsChecked == -1 || tdhdActivity.aIsChecked == 0" type="button" class="btn btn-success" @click="check(1)" value="通过"/>
				<input v-if="tdhdActivity.aIsChecked == 1 || tdhdActivity.aIsChecked == 0" type="button" class="btn btn-warning" @click="check(-1)" value="不通过"/>
            #end
				
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
	<div id="reasonDIV" style="display:none;padding:10px;"  class="panel panel-default">
       <form class="form-horizontal">
           <div class="form-group">
                <div class="col-sm-2 control-label">失败原因</div>
                 <div class="col-sm-10">  
                 <select class="form-control" v-model="failurereasonid">
                          <option value="0">----失败原因----</option>
                          <option v-for="cata in reasonlist" :value="cata.id">{{cata.reason}}</option>
                        </select>
                        </div>
                
            </div>
           <div class="form-group">
                <div class="col-sm-2 control-label">其他原因</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="failurereason" placeholder="其他原因"/>
                </div>
            </div>
       </form>
    </div>
	
	
    <div id="UserDiv" style="display:none;padding:10px;"  class="panel panel-default">
        <div class="grid-btn">
            <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.signUser.mobile" @keyup.enter="query" placeholder="电话">
            </div>
             <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.signUser.username" @keyup.enter="query" placeholder="发布人">
            </div>

             <a class="btn btn-default" @click="queryUser">查询</a>&nbsp;&nbsp;
             <a class="btn btn-primary" @click="exportExcel">导出Excel</a>
  </div>
        <table id="jqGridUser"></table>
        <div id="jqGridUserPager"></div>
    </div>
	
	
</div>

<script src="${rc.contextPath}/js/generator/tdhd/tdhdactivity.js?_${date.systemTime}"></script>
</body>
</html>