<!DOCTYPE html>
<html>
<head>
<title>医疗服务预约挂号订单</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("ylfwyyghorder:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("ylfwyyghorder:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("ylfwyyghorder:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.uid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.doctorid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预约电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.invitemobile" placeholder="预约电话"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预约计划id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.scheduleid" placeholder="预约计划id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.createtime" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单状态改变 1: 改变，2： 未改变</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.changes" placeholder="订单状态改变 1: 改变，2： 未改变"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单状态 1:已预约 ，2： 服务中（用户到店，医生点击），3：已完成（包含待评价和已评价），4：待评价，5：已取消</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.status" placeholder="订单状态 1:已预约 ，2： 服务中（用户到店，医生点击），3：已完成（包含待评价和已评价），4：待评价，5：已取消"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.ordercode" placeholder="订单号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">支付时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.paytime" placeholder="支付时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">支付金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.money" placeholder="支付金额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">30分钟提醒</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.remind" placeholder="30分钟提醒"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">支付状态 1:已支付，0：未支付</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.paytype" placeholder="支付状态 1:已支付，0：未支付"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">挂号费单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.ghcode" placeholder="挂号费单号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">挂号费支付状态 1:已支付，0： 未支付</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.ghpaystatus" placeholder="挂号费支付状态 1:已支付，0： 未支付"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">挂号费</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.ghprice" placeholder="挂号费"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">0:不删，1：已删</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.isdel" placeholder="0:不删，1：已删"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">支付状态1：已支付，2：未支付</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwYyghOrder.paystatus" placeholder="支付状态1：已支付，2：未支付"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/generator/ylfw/yygh/ylfwyyghorder.js?_${date.systemTime}"></script>
</body>
</html>