<!DOCTYPE html>
<html>
<head>
<title>维修人员</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("tbxwxmender:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("tbxwxmender:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("tbxwxmender:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">真实姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxMender.realname" placeholder="真实姓名"/>
			    </div>
			</div>
			<!-- <div class="form-group">
			   	<div class="col-sm-2 control-label">密码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxMender.password" placeholder="密码"/>
			    </div>
			</div> -->
			<div class="form-group">
			   	<div class="col-sm-2 control-label">部门</div>
			   	 <div class="col-sm-10">
                        <select class="form-control" v-model="tBxwxMender.departid">
                          <option value="0">----选择部门----</option>
                          <option v-for="cata in departlist" :value="cata.id">{{cata.name}}</option>
                        </select>
                     </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<div class="col-sm-10">
			   	       有效 : &nbsp;&nbsp;<input type="radio" name="valid" value="1" v-model="tBxwxMender.valid" placeholder="是否有效   1:有效，0 无效"/>
                                   &nbsp;&nbsp; &nbsp;&nbsp; 
                                   无效 : &nbsp;&nbsp;    <input type="radio"  name="valid" value="0" v-model="tBxwxMender.valid" placeholder="是否有效   1:有效，0 无效"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxMender.mobile" placeholder="电话"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">登录编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxMender.loginid" placeholder="登录编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">分数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxMender.score" placeholder="分数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">接单量</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxMender.count" placeholder="接单量"/>
			    </div>
			</div>
			<!-- <div class="form-group">
			   	<div class="col-sm-2 control-label">头像</div>
			   	 <div class="col-sm-2">
                  <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传头像</a>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" v-model="tBxwxMender.photo" placeholder="头像地址"/>
                </div>
                <div class="col-sm-3">
                  <img alt="" :src="tBxwxMender.photo" style="width:100px;height:100px"/>
                </div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
	 <div id="showFavorDIV" style="display:none;padding:10px;"  class="panel panel-default">
			<div v-show="showFavor">
		        <div class="grid-btn">
		            <a class="btn btn-primary" @click="updateFavor"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
		        </div>
		        <table id="jqGridFavor"></table>
		        <div id="jqGridFavorPager"></div>
		    </div>
	 </div>
</div>

<script src="${rc.contextPath}/js/generator/bxwx/tbxwxmender.js?_${date.systemTime}"></script>
</body>
</html>