<!DOCTYPE html>
<html>
<head>
<title>订单流程表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("tbxwxorderprocesses:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("tbxwxorderprocesses:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("tbxwxorderprocesses:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">1:下单，2: 审核中，3：审核通过，4：审核不通过，5：派工，6： 接单</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxOrderProcesses.status" placeholder="1:下单，2: 审核中，3：审核通过，4：审核不通过，5：派工，6： 接单"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">详情信息</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxOrderProcesses.detail" placeholder="详情信息"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxOrderProcesses.orderid" placeholder="订单编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tBxwxOrderProcesses.createtime" placeholder="时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/generator/bxwx/tbxwxorderprocesses.js?_${date.systemTime}"></script>
</body>
</html>