<!DOCTYPE html>
<html>
<head>
<title>医疗服务专家坐诊订单</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
           
             <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.order.ordercode" @keyup.enter="query" placeholder="订单号">
            </div>
             <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.order.username" @keyup.enter="query" placeholder="用户名">
            </div>
             <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.order.doctorname" @keyup.enter="query" placeholder="医生名">
            </div>
            
              <div class="form-group col-sm-3">
                <select class="form-control" v-model="q.order.status">
                  <option value="">----订单状态----</option>
                  <option value="1">已预约</option>
                  <option value="2">服务中</option>
                  <option value="3">已完成</option>
                  <option value="4">待评价</option>
                  <option value="5">已取消</option>
                </select>
                </div>
                
              
                <div class="form-group col-sm-3">
                    <div class="input-group date form_datetime" data-date-format="yyyy MM dd - HH:ii" data-link-field="dtp_input1">
                        <input class="form-control" id="dtp_input1"  size="25" type="text" value="" readonly placeholder="创建时间开始">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group date form_datetime2" data-date-format="yyyy MM dd - HH:ii" data-link-field="dtp_input2" >
                        <input class="form-control" size="25" id="dtp_input2" type="text" value="" readonly placeholder="创建时间截止" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                
                <script type="text/javascript">
                   $(function(){
                       $('.form_datetime').datetimepicker({
                            language:  'zh-CN',
                            weekStart: 1,
                            todayBtn:  1,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView:2,
                            maxView:2,
                            forceParse: 0,
                            showMeridian: 1,
                            linkFormat: "yyyy-mm-dd"
                        });
                       $('.form_datetime2').datetimepicker({
                            language:  'zh-CN',
                            weekStart: 1,
                            todayBtn:  1,
                            autoclose: 1,
                            todayHighlight: 1,
                            startView: 2,
                            minView:2,
                            maxView:2,
                            forceParse: 0,
                            showMeridian: 1,
                            linkFormat: "yyyy-mm-dd"
                        });
                   });
                </script>
                <a class="btn btn-default" @click="query">查询</a>
        </div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
		      <div class="form-group">
                <div class="col-sm-2 control-label">订单号</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="ylfwZjzzOrder.ordercode" placeholder="订单号"/>
                </div>
            </div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">用户名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwZjzzOrder.username" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">医生名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwZjzzOrder.doctorname" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预约电话</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwZjzzOrder.invitemobile" placeholder="预约电话"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">预约时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwZjzzOrder.invitetime" placeholder="预约时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ylfwZjzzOrder.createtime" placeholder="创建时间"/>
			    </div>
			</div>
								
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单状态</div>
			   	<div class="col-sm-10">
                     
                  <input v-if="ylfwZjzzOrder.status == 1" value="待接单" type="text" class="form-control" />
                  <input v-else-if="ylfwZjzzOrder.status == 2" value="已接单" type="text" class="form-control" />
                  <input v-else-if="ylfwZjzzOrder.status == 3" value="已完成" type="text" class="form-control" />
                  <input v-else-if="ylfwZjzzOrder.status == 4" value="待评价" type="text" class="form-control" />
                  <input v-else-if="ylfwZjzzOrder.status == 5" value="已取消" type="text" class="form-control" />
                </div>
			</div>
			<div v-if="ylfwZjzzOrder.status == 5" class="form-group">
                <div class="col-sm-2 control-label">取消原因</div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="ylfwZjzzOrder.cancelreason" placeholder="取消原因"/>
                </div>
            </div>
							
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
	 <div id="CommentDiv"  style="display:none;padding:10px;">
       <div class="grid-btn">
            <a class="btn btn-primary" @click="updateComment"><i class="fa fa-pencil-square-o"></i>&nbsp;查看</a>
        </div>
        <div  v-show="showComment" class="panel panel-default">
            <table id="jqGridComment"></table>
            <div id="jqGridCommentPager"></div>
        </div>
        
      <div v-show="!showComment" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">订单编号</div>
                <div class="col-sm-10">
                  <input readonly="value" type="text" class="form-control" v-model="ylfwZjzzComment.orderid" placeholder="订单编号"/>
                </div>
            </div>
                                            <div class="form-group">
                <div class="col-sm-2 control-label">图片</div>
                <div class="col-sm-10">
                   <img v-for="cata in imglist" alt="" :src="cata" style="width:100px;height:100px"/>  
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">评价内容</div>
                <div class="col-sm-10">
                  <input readonly="value" type="text" class="form-control" v-model="ylfwZjzzComment.content" placeholder="评价内容"/>
                </div>
            </div>
                                
                          
                                 
                                    <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                  <input readonly="value" type="text" class="form-control" v-model="ylfwZjzzComment.createtime" placeholder="创建时间"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">总分</div>
                <div class="col-sm-10">
                  <input readonly="value" type="text" class="form-control" v-model="ylfwZjzzComment.score" placeholder="总分"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">服务评分</div>
                <div class="col-sm-10">
                  <input readonly="value" type="text" class="form-control" v-model="ylfwZjzzComment.servicescore" placeholder="服务评分"/>
                </div>
            </div>
                                    <div class="form-group">
                <div class="col-sm-2 control-label">是否匿名</div>
                <div class="col-sm-10">
                  <input readonly="value" v-if="ylfwZjzzComment.anonymous == 1" type="text" value="是" class="form-control" />
                  <input readonly="value" v-else type="text" value="否" class="form-control" />
                </div>
            </div>
                           
        </form>
    </div>
     </div>
</div>

<script src="${rc.contextPath}/js/generator/ylfw/zjzz/ylfwzjzzorder.js?_${date.systemTime}"></script>
</body>
</html>