<!DOCTYPE html>
<html>
<head>
<title>办公用品服务-商品</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-3">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="商品名、编号或供货单位">
			</div>
			<div class="form-group col-sm-2">
				<div class="form-group col-sm-1">
					价格
				</div>
				<div class="form-group col-sm-5">
					<input type="text" class="form-control" v-model="q.minprice" @keyup.enter="query" placeholder="最低价格">
				</div>
				<div class="form-group col-sm-1">
					---
				</div>
				<div class="form-group col-sm-5">
					<input type="text" class="form-control" v-model="q.maxprice" @keyup.enter="query" placeholder="最高价格">
				</div>
			</div>
			<div class="form-group col-sm-3">
				<select class="form-control" v-model="q.categoryOneId">
				  <option value="">----一级分类----</option>
				  <option v-for="category in categoryOneList" :value="category.id">{{category.cname}}</option>
				</select>
			</div>
			<div class="form-group col-sm-3">
				<select class="form-control" v-model="q.categoryTwoId">
				  <option value="">----二级分类----</option>
				  <option v-for="category in categoryTwoList" :value="category.id">{{category.cname}}</option>
				</select>
			</div>
			<div class="form-group col-sm-3">
				<div class="input-group date form_datetime" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
	                <input class="form-control" size="16" type="text" value="" readonly placeholder="创建时间开始">
	                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
	            </div>
				<input type="hidden" class="form-control" id="dtp_input1" v-model="q.createTimeStart" value=""/>
            </div>
			<div class="form-group col-sm-3">
				<div class="input-group date form_datetime2" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" >
                    <input class="form-control" size="16" type="text" value="" readonly placeholder="创建时间截止" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" class="form-control" id="dtp_input2" v-model="q.createTimeEnd" value=""/>
            </div>
	        <script type="text/javascript">
		       $(function(){
		    	   $('.form_datetime').datetimepicker({
		    	        language:  'zh-CN',
		    	        weekStart: 1,
		    	        todayBtn:  1,
		    			autoclose: 1,
		    			todayHighlight: 1,
		    			startView: 2,
                            minView:2,
                            maxView:2,
		    			forceParse: 0,
		    	        showMeridian: 1,
		    	        linkFormat: "yyyy-mm-dd"
		    	    });
		    	   $('.form_datetime2').datetimepicker({
		    	        language:  'zh-CN',
		    	        weekStart: 1,
		    	        todayBtn:  1,
		    			autoclose: 1,
		    			todayHighlight: 1,
		    			startView: 2,
                            minView:2,
                            maxView:2,
		    			forceParse: 0,
		    	        showMeridian: 1,
		    	        linkFormat: "yyyy-mm-dd"
		    	    });
		       });
	        </script>
	        <a class="btn btn-default" @click="query">查询</a>
			#if($shiro.hasPermission("bgypfwproduct:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("bgypfwproduct:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("bgypfwproduct:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<a class="btn btn-primary" @click="exportExcel"><i class="fa fa-pencil-square-o"></i>&nbsp;导出到Excel</a>
			<a class="btn btn-primary" id="uploadExcel"><i class="fa fa-plus"></i>&nbsp;导入Excel</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">商品名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="bgypfwProduct.productname" placeholder="商品名称"/>
			    </div>
			</div>
											<div class="form-group">
			   	<div class="col-sm-2 control-label">供应商名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="bgypfwProduct.supplierName" placeholder="商品名称"/>
			    </div>
			</div>
											<div class="form-group">
			   	<div class="col-sm-2 control-label">商品编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="bgypfwProduct.productCode" placeholder="商品名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">一级分类</div>
			   	<div class="col-sm-10">
			      <select class="form-control" v-model="bgypfwProduct.categoryOneId">
					  <option value="">----一级分类----</option>
					  <option v-for="category in categoryOneList" :value="category.id">{{category.cname}}</option>
					</select>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">二级分类</div>
			   	<div class="col-sm-10">
			      <select class="form-control" v-model="bgypfwProduct.categoryTwoId">
					  <option value="">----二级分类----</option>
					  <option v-for="category in categoryTwoList2" :value="category.id">{{category.cname}}</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">商品轮播展示图</div>
			   	<div class="col-sm-2" v-for="img in bgypfwProduct.imgEntityList">
			   		<img alt="" :src="img.img" style="width:100px;height:100px"/>
			      <input type="text" class="form-control"  v-model="img.img" placeholder="图片"/>
			      <input type="text" class="form-control" v-model="img.sort" placeholder="排序"/>
			    </div>
			    <div class="col-sm-2" >
			    	<a class="btn btn-primary" id="uploadPic"><i class="fa fa-plus"></i>&nbsp;上传图片</a>
			    	<a class="btn btn-primary" @click="delPic"><i class="fa fa-plus"></i>&nbsp;删除图片</a>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	<div id="menuLayer" style="display:none;padding:10px;">
		<div v-show="showListKC">
			<div class="grid-btn">
				<div class="form-group col-sm-3">
					<input type="text" class="form-control" v-model="qKC.keyword" @keyup.enter="queryKC" placeholder="库存名">
				</div>
				<div class="form-group col-sm-3">
					<select class="form-control" v-model="qKC.firstcataid">
					  <option value="">----库存分类----</option>
					  <option v-for="cata in cataList" :value="cata.id">{{cata.skucataname}}</option>
					</select>
				</div>
				<a class="btn btn-default" @click="queryKC">查询</a>
				#if($shiro.hasPermission("bgypfwproduct:sku"))
				<a class="btn btn-primary" @click="addKC"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a class="btn btn-primary" @click="updateKC"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				<a class="btn btn-primary" @click="delKC"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				<a class="btn btn-primary" @click="sale(3)"><i class="fa fa-plus-o"></i>&nbsp;上架</a>
				<a class="btn btn-primary" @click="sale(5)"><i class="fa fa-trash-o"></i>&nbsp;下架</a>
				<a class="btn btn-warning" @click="setMainKC"><i class="fa fa-plus-o"></i>&nbsp;设为主规格</a>
				#end
				#if($shiro.hasPermission("bgypfw:check"))
				<a class="btn btn-primary" @click="check"><i class="fa fa-plus-o"></i>&nbsp;审核上下架状态</a>
				#end
			</div>
		    <table id="jqGridKC"></table>
		    <div id="jqGridPagerKC"></div>
	    </div>
		<div v-show="!showListKC" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
												<div class="form-group">
				   	<div class="col-sm-2 control-label">库存名称</div>
				   	<div class="col-sm-10">
				      <input type="text" class="form-control" v-model="bgypfwSkuid.skuname" placeholder="库存名称"/>
				    </div>
				</div>
				<div class="form-group">
				   	<div class="col-sm-2 control-label">库存头图</div>
				   	<div class="col-sm-2">
				      <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传图片</a>
				    </div>
				   	<div class="col-sm-2">
				      <input type="text" class="form-control" v-model="bgypfwSkuid.mainimg" placeholder="图片地址"/>
				    </div>
				   	<div class="col-sm-3">
				      <img alt="" :src="bgypfwSkuid.mainimg" style="width:100px;height:100px"/>
				    </div>
				</div>
										<div class="form-group">
				   	<div class="col-sm-2 control-label">单价</div>
				   	<div class="col-sm-8">
				      <input type="text" class="form-control" v-model="bgypfwSkuid.price" placeholder="价格"/>
				    </div>
				   	<div class="col-sm-1 control-label">￥</div>
				</div>
				
				
										<div v-for="cata in bgypfwSkuid.catainfolist" :value="cata.cataid" class="form-group">
				   	<div class="col-sm-2 control-label">{{cata.cataname}}</div>
				   	<div class="col-sm-10">
				   		<input type="text" class="form-control" v-model="cata.content" placeholder="内容"/>
				    </div>
				</div>
										<div class="form-group">
				   	<div class="col-sm-2 control-label">库存量</div>
				   	<div class="col-sm-10">
				      <input type="text" class="form-control" v-model="bgypfwSkuid.store" placeholder="数量"/>
				    </div>
				</div>
								<div class="form-group">
					<div class="col-sm-2 control-label"></div> 
					<input type="button" class="btn btn-primary" @click="saveOrUpdateKC" value="确定"/>
					&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reloadKC" value="返回"/>
				</div>
			</form>
		</div>
	</div>
	<div id="menuLayer2" style="display:none;padding:10px;">
		<div class="form-group">
		   	<!-- <div class="col-sm-2 control-label">不通过原因</div> -->
		   		<textarea class="form-control" v-model="bgypfwSkuid.failedreason" rows="8" cols="50" placeholder="请填入不通过原因"></textarea>
		</div>
	</div>
	
	<div id="productattr" style="display:none;padding:10px;">
		
	    <div v-show="showproductattrList">
		<div class="grid-btn">
			<a class="btn btn-primary" @click="addattr"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="delattr"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
		<table id="jqproductattrGrid"></table>
	    <div id="jqproductattrGridPager"></div>
    </div>
    
    <div v-show="!showproductattrList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
										
									<div class="form-group">
			   	<div class="col-sm-2 control-label">属性分类</div>
			   	<div class="col-sm-10">
			   	 <select class="form-control" v-model="bgypfwProducattrcata.cataid">
                          <option value="">----选择属性----</option>
                          <option v-for="cata in attrlist" :value="cata.id">{{cata.skucataname}}</option>
                        </select>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdateattr" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reloadattr" value="返回"/>
			</div>
		</form>
	</div>
	</div>
</div>

<script src="${rc.contextPath}/js/generator/bgypfw/bgypfwproduct.js?_${date.systemTime}"></script>
</body>
</html>